@import "tailwindcss";
@custom-variant dark (&:is(.dark *));

@font-face {
  font-family: "Cairo";
  src: url("/fonts/cairo/Cairo-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Cairo";
  src: url("/fonts/cairo/Cairo-Medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Cairo";
  src: url("/fonts/cairo/Cairo-SemiBold.ttf") format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "Cairo";
  src: url("/fonts/cairo/Cairo-Bold.ttf") format("truetype");
  font-weight: 700;
}

:root {
  --main-color: #070e3b;
  --gray-color: #858585;
}

/* container */
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Cairo", sans-serif;
}

.container {
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 1024px) {

  .container {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

/* Colors */
.bg-main {
  background-color: var(--main-color);
}

.text-main {
  color: var(--main-color);
}

.border-main {
  border: 1px solid var(--main-color);
}

.bg-gray {
  background-color: var(--gray-color);
}

.text-gray {
  color: var(--gray-color);
}

select,
input {
  outline: none !important;
}


button {
  cursor: pointer;
}